.vertical-nav {
    .nav-link {
        border-left: 2px solid lightgray;
        color: black;

        &:hover {
            background-color: lightgray;
        }
    }

    .nav-link.active {
        border-left: 2px solid royalblue;
    };
}

.list-devices {
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .vertical-nav {
        width: 100% !important;
        & > .nav {
            flex-wrap: nowrap;
            overflow-x: hidden;
            .nav-link {
                width: max-content;
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .vertical-nav {
        width: 8rem;
    }
}