html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#home {
    .hero { 
        position: relative; 
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../images/rail_safety_hero.jpg');
        background-size: cover;
        
        &::before {
          content: "";
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          //background-color: rgba(0,0,0,0.25);
          background-color: rgba(0, 0, 0, 0.55);
        }

        & > .overlay {
            position: relative;
            color: white;
        }
    }
}


.second-sticky {
    top: 5rem;
    z-index: 2000;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.55); 

    .nav-tabs {
        .nav-link {
            border-radius: 0;
        }
        .nav-link:not(.active) {
            color: white;
        }

        .nav-link.active {
            color: black;
        }
    }
}